@import './colors.scss';

//COLORS
$background-color: $background-dark-90;
$font-color:$gold-color;

//SIZES
$img-size: clamp(300px, 65vw, 600px);
$text-container-size: clamp(300px, 40vw, 600px);
$font-size: clamp(1rem, 2vw, 1.5rem);

#about-container{
    flex-grow: 1;
    /* min-width: 80vw;
    max-width: 90vw; */
    align-self: center;
    padding: 0 0;
    margin-top: 2.5vh;
    
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    grid-row-gap: 2rem;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: 1rem;

    background-color: $background-color;
}

.section:nth-child(even){
    flex-direction: row-reverse;
}


.img-container{
    aspect-ratio: 4/3;
    width: $img-size;
    
    background-position: center;
    background-size: cover;
    //all the same img for now...
    /* background-image: url('../assets/fish.jpg'); */
    
    border: 2px solid $blue-color;
    border-radius: 10px;
    
}

.text-container{
    /* aspect-ratio: 4/3; */
    width: $text-container-size;
    padding: 1rem 1rem;
    
    font-size: $font-size;
    text-align: center;
    color: $font-color;
    
}

#section-1 .img-container{
    background-image: url('../assets/FH_front.png');
}

#section-2 .img-container{
    background-image: url('../assets/FH_packed.png');
}

#section-3 .img-container{
    background-image: url('../assets/FH_potatoes.png');
}


@media only screen and (max-width: 800px){
   
    .section, .section:nth-child(even){
        flex-direction: column;
        min-width: 95vw;
        gap: 1rem;
   }

}