$background-dark: #2a2a2a;
$background-dark-90: rgba(42, 42, 42, 0.9);
$background-dark-80: rgba(42, 42, 42, 0.8);
$background-light: #f5f1de;
$background-light-2: #cccccc;
$gold-color: #ebd693;
$gold-dark-color: #a3771f;
$blue-color: #17cfc6;
$blue-dark-color: #0d7a75;