@import './colors.scss';

#contact-container{
    flex-grow: 1;
    align-self: center;
    padding: 0 0;
    margin-top: 2.5vh;
    min-width: 80vw;
    
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 1fr;

    text-align: center;
}


.contact-section{
    display: flex;
    padding: 1rem;
    gap: 0.5rem;

    background-color: red;
}

.box{
    flex: 1;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-heading{
    font-size: 1.2rem;
    margin-top: 1rem;
}