@import "./colors.scss";

footer {
  position: fixed;
  bottom: 0;
  min-height: 50px;

  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $background-dark;
  border-top: 1px solid $gold-color;

  padding-inline: 10px;

  a {
    color: $gold-color;
    text-decoration: none;
    font-size: 0.8rem;
    color: $background-light;
  }

  /*   img {
    max-height: 25px;
  }

  .seagull-img {
    max-height: 10px;
  } */
}
