@import "./colors.scss";

footer {
  position: fixed;
  bottom: 0;
  min-height: 50px;

  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $gold-color;
  background-color: $background-dark;
  border-top: 1px solid $gold-color;
  font-size: 0.7rem;

  padding-inline: 10px;

  p {
    color: $gold-color;
  }

  /*   img {
    max-height: 25px;
  }

  .seagull-img {
    max-height: 10px;
  } */
}
