@import './colors.scss';

footer{
    width: 100%;
    flex: 0.15;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5rem;

    color: white;
    background-color: $background-dark-90;
}

a{
    background-color: none;
    cursor: pointer;
}