@import './colors.scss';

#homepage-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0.5fr, 1fr));
    place-items: center;
    gap: 1rem;
    

    >div{
        /* aspect-ratio: 1.1; */
        width: clamp(85vw, 90vw, 95vw);
        min-height: 600px;
        background-color: rgba(255, 255, 255, 0.05);

    }
}

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 20px;

    font-family: Georgia, 'Times New Roman', Times, serif;

    #welcome-title{
        font-size: 4rem;
        color: $gold-color;
    }

    #welcome-msg{
        font-size: 2rem;
        max-width: 80%;
        color: $blue-color;
    }
}

#hours{
    display: flex;
    /* grid-template: 1fr / 1fr 1fr; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;

    border-radius: 20px;
    
    #hours-msg{
        padding: 10%;
        flex: 1;
        font-size: 1.5rem;
        color: $gold-color;
    }

    #hours-info{
        flex: 1;
        padding: 2rem;
        border: 1px solid $blue-color;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.95);

        #title{
            font-size: 1.8rem;
            border: 2px solid $blue-color;
            border-radius: 10px;
        }

        .heading{
            font-size: 1.5rem;
        }

        .days{
            margin-top: 1rem;
        }
    }
}