@import './colors.scss';

#homepage-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0.5fr, 1fr));
    place-items: center;
    gap: 1rem;

    >div{
        /* aspect-ratio: 1.1; */
        width: clamp(85vw, 90vw, 95vw);
        min-height: 600px;

    }
}

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;

    #welcome-title{
        font-size: 4rem;
        color: $gold-color;
    }

    #welcome-msg{
        font-size: 2rem;
        max-width: 80%;
        text-align: center;
        color: $blue-color;
    }
}

#news{
    background-color: red
}

#hours{
    background-color: blue
}