@import './colors.scss';

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-light;
}

#content, #content-main{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#content{
    height: 95%;
    width: min(100%, 1000px);
}

#content-main{
    flex: 1;
    /* background-color: #e67b7b; */
}