@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content, #content-main{
    display: flex;
    flex-direction: column;
    
}

#content{
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
    /* background-color: $background-dark; */

}

#content-main{
    flex-grow: 1;
    margin-top: 95px;
    margin-bottom: 50px; 
    background-color: $blue-dark-color;
}