@import './colors.scss';

#menu-container{
    flex: 1.5;
    /* background-color: rgb(163, 163, 233); */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-box{
    width: 50%;
    height: 50%;
    background-color: rgb(114, 175, 117);
}