@import './colors.scss';

$heading-border: 1px solid $blue-color;

//-COLORS
$container-background-color: $background-dark-90;
$section-background-color: $gold-dark-color;
$heading-color: $blue-color;
$item-name-color: $gold-color;
$item-price-color: white;

//-SIZES
$section-heading-size: clamp(1.25rem, 1.8vw, 1.6rem);
$item-size: clamp(1rem, 1.5vw, 1.2rem);
$option-size: clamp(0.7rem, 0.8vw, 1rem);
$price-size: clamp(0.9rem, 1.5vw, 1.2rem);

#menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 0.9fr));
    justify-content: center;
    align-self: center;
    gap: 3rem;
    /* flex-grow: 1; */
    width: clamp(85vw, 60vw, 95vw);
    min-height: 95%;
    
    background-color: $container-background-color;
    padding: 5vh 10vw;
    margin: 5vh 0;

    border: 1px solid $gold-color;
}

@media only screen and (max-width: 600px){
    #menu-container{
        grid-template-columns: repeat(auto-fit, minmax(300px, 0.9fr));
    }

}

.menu-section{
    max-width: 80vw;
}

.section-heading{
    text-transform: uppercase;
    color: $heading-color;
    border-bottom: $heading-border;
    font-size: $section-heading-size;
}

.section-heading, .menu-item{
    margin: 0.5rem;
}

.menu-item ~ div:not(.menu-option){
    color: red;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item:not(.item-option){
    margin-top: 1rem;
    font-size: $item-size;
}

.menu-item-name{
    color: $item-name-color;
    text-transform: capitalize;
}

.item-option{
    margin-top: 0;
    margin-bottom: 0.4rem;
}

.item-option-text{
    color: white;
    font-size: $option-size;
}

.item-option-text::before{
    content: ' ';
    white-space: pre;
}

.menu-item-price{
    color: $item-price-color;
    font-size: $price-size;
}

.menu-item-price::before{
    content: '£';
}